NODE_ENV=development
# error | warn | log | debug | verbose (each level includes everything before it)
LOG_LEVEL=log
DISCORD_TOKEN=
DISCORD_DEV_GUILD_IDS=
DATABASE_URL="mysql://user:password@localhost:3306/kairo"
